<nav>
	<div id="nav-main">
		<div id="nav-fadelinetop"></div>
		
		<div id="nav-inner">
			{{ $currentNode := . }}
			
			{{ range .Site.Menus.main }}
				{{ if .HasChildren }}
					<div class="nav-elementlist">
						{{ if ($currentNode.HasMenuCurrent "main" .) }}
							<div class="nav-elementlistlink-current">{{ .Name }}</div>
						{{ else }}
							<div class="nav-elementlistlink">{{ .Name }}</div>
						{{ end }}
						
						<div class="nav-subelements">
							{{ range .Children }}
								{{ if ($currentNode.IsMenuCurrent "main" .) }}
									<div class="nav-subelement-current">{{ .Name }}</div>
								{{ else }}
									<a href="{{ .URL }}"><div class="nav-subelement">{{ .Name }}</div></a>
								{{ end }}
								
							{{ end }}
						</div>
					</div>
				{{ else }}
					{{ if ($currentNode.IsMenuCurrent "main" .) }}
						<div class="nav-element-current">{{ .Name }}</div>
					{{ else }}
						<a href="{{ .URL }}"><div class="nav-element">{{ .Name }}</div></a>
					{{ end }}
				{{ end }}
			{{ end }}
		</div>
		
		<div id="nav-fadelinebottom"></div>
	</div>
	
	<div id="nav-selectbox">
		<input type="checkbox" id="nav-sbbutton"/>
		<label for="nav-sbbutton">
		<div id="nav-sbinner">
			Navigation...
			<div class="nav-sbelements">
				{{ $currentNode := . }}
				
				{{ range .Site.Menus.main }}
					{{ if .HasChildren }}
						<div class="nav-sbsubheading">{{ .Name }}</div>
						{{ range .Children }}
							{{ if ($currentNode.IsMenuCurrent "main" .) }}
								<div class="nav-sbsubelement">  {{ .Name }}</div>
							{{ else }}
								<a href="{{ .URL }}"><div class="nav-sbsubelement">  {{ .Name }}</div></a>
							{{ end }}
							
						{{ end }}
					{{ else }}
						{{ if ($currentNode.IsMenuCurrent "main" .) }}
							<div class="nav-sbelement">{{ .Name }}</div>
						{{ else }}
							<a href="{{ .URL }}"><div class="nav-sbelement">{{ .Name }}</div></a>
						{{ end }}
					{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</nav>
