{{ partial "top" . }}
					<div id='body-main'>
						{{ range where .Pages "Type" "post" }}
						<article>
							<h1><a href="{{.URL}}">{{ .Params.posttitle }}</a></h1>
							<p class='blogdate'><time datetime="{{ .Date }}">{{ .Date.Format "2nd January, 2006"}}</time></p>
							<hr>
							
							{{ .Summary }}
							
							{{ if .Truncated }}
								<p class='blogfurther'><a href='{{ .RelPermalink }}'>(read further...)</a></p>
							{{ end }}
						</article>
						{{ end }}
					</div>
{{ partial "bottom" . }}